body{
background-color: white;
height:200%;
width:100%;
}

.title{
color:black;
background-color: white;
text-align: center;
font-family:Verdana;
font-size:5em;
width:100%;
height: 1.3em;
opacity: 1;
margin: 0;
display: block;
position: fixed;
z-index: 3;
font-style: bold;
border-style: solid;
border-color: black;
}

.rate{
color:black;
background-color: white;
text-align: center;
font-family:Verdana;
font-size:2em;
width:16%;
opacity: 1;
margin: 0 auto;
display: block;
position: fixed;
float: right;
top: 13em;
left: 0.5;
z-index: 3;
border-style: solid;
border-color: white;
}


.dir{
color:black;
background-color: white;
text-align: center;
font-family:Verdana;
font-size:2em;
width:30%;
opacity: 1;
margin: 0 auto;
display: block;
position: fixed;
float: left;
left: 0.5;
top:7em;
z-index: 3;
border-style: solid;
border-color: white;
}


.dat{
color:black;
background-color: white;
text-align: center;
font-family:Verdana;
font-size:2em;
width:20%;
opacity: 1;
margin: 0 auto;
display: block;
position: fixed;
float: right;
top: 20em;
left: 0.5;
z-index: 3;
border-style: solid;
border-color: white;
}


.movie{
color:black;
background-color: whitesmoke;
text-align: center;
font-family:Verdana;
font-size:3em;
width:60%;
height: 15%;
opacity: 0.8;
margin: 0 auto;
display: block;
position: relative;
top:7.9em;
}

.button{
color:white;
background-color: green;
text-align: center;
font-family:Verdana;
font-size:3em;
font-weight: bolder;
width:38%;
padding:1%;
margin-top: 5px;
opacity: 0.9;
margin: 0 auto;
display: block;
position: relative;
top:8em;
}

.aboutT{
color:;
background-color: white;
text-align: center;
font-family:Verdana;
font-size:2em;
width:38%;
padding:1%;
margin-top: 5px;
opacity: 0.8;
margin: 0 auto;
display: block;
position: relative;
top:20.5em;
visibility: visible;
}

.about{
color:black;
background-color: white;
text-align: center;
font-family:Verdana;
font-size:2em;
width:38%;
padding:1%;
margin-top: 5px;
opacity: 0.87;
margin: 0 auto;
display: block;
position: relative;
top:21em;
visibility: visible;
}

.aboutT2{
color:black;
background-color: white;
text-align: center;
font-family:Verdana;
font-size:2em;
width:38%;
padding:1%;
margin-top: 5px;
opacity: 0.8;
margin: 0 auto;
display: block;
position: relative;
top:26em;
visibility: hidden;
}

.link{
color:black;
background-color: white;
text-align: center;
font-family:Verdana;
font-size:2em;
width:38%;
padding:1%;
margin-top: 5px;
opacity: 0.87;
margin: 0 auto;
display: block;
position: relative;
top:26.5em;
visibility: hidden;
text-decoration: none;
}

.footer{
color:black;
background-color: white;
text-align: center;
font-family:Verdana;
font-size:2em;
width:100%;
padding:1%;
margin-top: 5px;
opacity: 0.5;
margin: 0 auto;
display: block;
position: relative;
top:48em;
visibility: visible;
}
